body {
    background-image: url("american_flag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

nav{
    display: flex;
    width: 400px;
    margin: 20px auto;
} 
nav button{
    flex-basis: 100%;
    text-align: center;
}
#flash-card {
    position: relative;
    background-image: url("american_flag.jpg");  
    width: 500px;
    height: 350px;
    background-color: grey;
    color: white;
    font-size: medium;
    margin: 100px auto;
    
} 

#flash-card #flashcard-buttons-container {
    display: flex;
    position: absolute;
    left:180px;  
    bottom:30px;  
}
img {
    max-width:300px;
    width: 200px;
    height: 100px;
}
#flash-card p, #flash-card ul {
    padding: 20px 50px;
}
#next-back-buttons{
    position: absolute;
    bottom: 20px;
    left:210px;  
} 
li {
    list-style-type: none;
} 
.questions, .answers {
    margin-top: 5px
}

.hidden {
    display: none;
} 
a {
    text-decoration: none;
    color: black;
}

.jumbotron{
    width: 800px;
    margin: 80px auto;
    color: rgb(16,84,243);
    word-spacing: 5px;
    line-height: 25px;
}
#likeDislikeContainer{
    display: flex;
    margin: 10px;
}
.col{
    margin-bottom: 3px;
}

#score-display{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}


